.index
  = render 'cads/header'
  .main
    .box
      .new-product
        .new-product__title
          %p ALL PRODUCTION.
        .new-product__search
          = form_tag cads_searches_path, method: :get, class: "search-input" do
            = text_field_tag :keyword, '', placeholder: "製品名・メーカー名", class: "search-input__form"
            = submit_tag "検索", class: "search-input__action"
        .new-product__contents
          - @cads.each do |cad|
            %label
              = link_to cad_path(cad.id), class: "content" do
                = icon('far', 'folder', class: "file-icon")
                .content__product-name
                  = cad.product_name
                .content__company
                  = cad.company
        .page
          = paginate @cads