.devise
  .background
    .box
      .title
        ログイン
      .form
        .form__row
          %p 登録されていない方はこちらへ
          = link_to new_user_registration_path, class: "row-btn" do
            新規会員登録
        .form__box
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label "email"
              = f.email_field :email, autocomplete: "email", class: "form-input"
            .field
              = f.label "password"
              = f.password_field :password, autocomplete: "current-password", class: "form-input"
            .empty
            = f.submit "ログイン", class: "action"


