.header
  .title
    .title__text
      = link_to root_path do
        %p SHARE BLUEPRINT
      .title__text__devise
        - if user_signed_in?
          = link_to new_cad_path, class: "registration" do
            商品登録
          = link_to destroy_user_session_path, method: :delete, class: "session" do
            ログアウト
        - else
          = link_to new_user_registration_path, class: "registration" do
            新規登録
          = link_to new_user_session_path, class: "session" do
            ログイン
  %ul
    %li
      = link_to app_path do
        アプリについて
    %li
      = link_to all_path do
        登録製品一覧
    %li
      = link_to "#" do
        お問い合わせ