.index
  = render 'header'
  .main
    .box
      .information
        .information__title
          %p NEWS.
        %ul.information__contents
          %li 2020.05.20      アプリを公開しました。
        .information__contents
          %li 2020.05.20      アプリを公開しました。
        .information__contents
          %li 2020.05.20      アプリを公開しました。
      .new-product
        .new-product__title
          %p NEW PRODUCTION.
          = link_to "#", class: "product-all" do
            新着製品一覧
        .new-product__contents
          - @cads.each do |cad|
            %label
              = link_to "#", class: "content" do
                = icon('far', 'folder', class: "file-icon")
                .content__product-name
                  = cad.product_name
                .content__company
                  = cad.company