.cads-show
  .show-box
    .design
      .design__thumb
        = image_tag @cad.thumbnail.thumb.to_s
      .design__download
        = link_to 'ダウンロードする', download_design_path(@cad), method: :get
    .field
      .field__name
        %p 製品名・品番
      .field__box
        = @cad.product_name
    .field
      .field__name
        %p メーカー名
      .field__box
        = @cad.company
    .field
      .field__name
        %p 製品詳細
      .field__box
        = simple_format @cad.detail
    .row-btn
      .row-btn__container
        - if @cad.user_id == current_user.id
          = link_to edit_cad_path(@cad.id), class: "row-btn__container__edit" do
            編集する
          = link_to cad_path(@cad.id), method: :delete, class: "row-btn__container__destroy" do
            削除する
    .back-btn
      = link_to all_path, class: "back-btn__text" do
        = icon('fas', 'arrow-left')
        製品一覧にもどる